:root {
  --main-color: #9759C7;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    /* box-sizing: border-box; */

}
/* rooms headers */

.rooms{
    height: 100vh;
    width: 100vw;
    color:white;
}
#search{
    width:4rem;
}

.nav{
    padding:1rem;
    background: var(--main-color);
    width:100vw;
    z-index:10;
    position:fixed;
    min-height:19rem;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    font-weight:700;
}

.nav p{
margin-left:3rem;
font-size:1.7rem;
}
.nav-right{
    margin-right:0.5rem;
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    align-items:center;
    gap:2rem;
}
.nav-right button{
padding:0.8rem;
border-radius:1rem;
border:none;
font-size:1rem;
color:#8764C2;
font-weight:700;
}

/* rooms main */

#note{
  text-align:center;
  color: #3f3f46;
  font-size:2rem;
  padding:5rem;
}
.rooms main{
    position:fixed;
    z-index:20;
    margin-top:12rem;
    width: 100vw;
    height:100vh;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    background: #CCCBD6;
    color:white;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}
.rooms main .scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding-bottom:1rem;
}
main .room {
    cursor: pointer;
    padding:1rem;
    padding-left:4rem;
    padding-right:1rem;
    min-height:10rem;
    display: grid;
    grid-template-columns: minmax(100px, 3fr) minmax(50px, 1fr);
    grid-template-columns: 5fr 1fr;
    border-bottom: 0.1rem solid black;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    color: black;
}


#name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5rem;
    font-weight: 700;
    justify-self:flex-start;
}

.date {
    position:relative;
    top:2rem;
    grid-column: 2;
    grid-row: 1;
    font-size: 1.3rem;
    font-weight: 500;
    justify-self:center;
}

.room img {
    grid-column: 1;
    grid-row: 2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    justify-self: flex-start;
}

.room button {
    grid-column: 2;
    grid-row: 2;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #8764c2;
    color: white;
    border: none;
    border-radius: 0.7rem;;
    cursor: pointer;
    justify-self:center;
}


.date .day {
    margin-right: 5px;
}

.date .month {
    color: #8764c2;
    margin-right: 5px;
}

/* rooms in mobile */

@media (max-width: 768px) {
/* rooms headers */

.rooms{
    height: 100vh;
    width: 100vw;
    color:white;
}
#search{
    width:3rem;
}

.nav{
    padding:1rem;
    background: var(--main-color);
    width:100vw;
    z-index:10;
    position:fixed;
    min-height:15rem;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    font-weight:700;
}

.nav p{
margin-left:2rem;
font-size:3.5vmin;
    white-space: nowrap;

}
.nav-right{
    margin-right:0.5rem;
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    align-items:center;
    gap:2rem;
}
.nav-right button{
padding:0.8rem;
border-radius:1rem;
border:none;
font-size:2vmin;
color:#8764C2;
font-weight:700;
}

/* rooms main */

#note{
  text-align:center;
  color: #3f3f46;
  font-size:2rem;
  padding:5rem;
}
.rooms main{
    position:fixed;
    z-index:20;
    margin-top:10rem;
    width: 100vw;
    height:100vh;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    background: #CCCBD6;
    color:white;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}
.rooms main .scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding-bottom:1rem;
}
main .room {
    cursor: pointer;
    padding:1rem;
    padding-left:2rem;
    padding-right:2rem;
    min-height:8rem;
    display: grid;
    grid-template-columns: minmax(100px, 3fr) minmax(50px, 1fr);
    grid-template-columns: 5fr 1fr;
    border-bottom: 0.1rem solid black;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    color: black;
}


#name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.2rem;
    font-weight: 700;
    justify-self:flex-start;
}

.date {
    position:relative;
    top:1rem;
    grid-column: 2;
    grid-row: 1;
    font-size: 3vmin;
    font-weight: 500;
    justify-self:center;
}

.room img {
    grid-column: 1;
    grid-row: 2;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    justify-self: flex-start;
}

.room button {
    grid-column: 2;
    grid-row: 2;
    padding: 0.8vmin 1.8vmin;
    font-size: 1rem;
    font-weight: bold;
    background-color: #8764c2;
    color: white;
    border: none;
    border-radius: 0.7rem;;
    cursor: pointer;
    justify-self:center;
}


.date .day {
    margin-right: 5px;
}

.date .month {
    color: #8764c2;
    margin-right: 5px;
}
}




/* chatting room */
.chatting {
  width: 100vw;
  height: 100vh;
}

.chatting header {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  align-items:center;
  width: 100vw;
    height:25vh;
    min-height:19rem;
  background-color: var(--main-color);
  z-index: 10;
}
.chatting .left-header{
  display:flex;
  color:white;
  align-items:center;
  gap:1rem;
}
.chatting #chat-name{
font-size:2rem;
font-weight:500;
}

.chatting .dropdown {
    position: absolute;
    right: 2rem;
    top: 40%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index:90;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width:6rem;
    height:4rem;
}
.dropdown a {
    background: none;
    border: none;
    padding: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 1.3rem;
}
.chatting img {
  cursor:pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.chatting main {
    width:100%;
    height: calc(100vh - 10rem - 6rem);
    position:fixed;
    overflow:hidden;
    z-index:20;
    margin-top:12rem; 
    overflow-y: auto;
    background: #CCCBD6;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}
.chatting main .message-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
      word-wrap: break-word !important;

}


.chatting main .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  object-fit: cover;
}

.chatting main .message {
    background: white;
    padding: 1.5rem;
    margin: 0.5rem;
    max-width: 70%;
    word-wrap: break-word;

}



.chatting main .rec {
    word-wrap: break-word;
    max-width: 70%;
    justify-content:flex-start;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.chatting main .self {
    max-width: 70%;
    margin-left: auto;
    flex-direction: row-reverse;
    justify-content:flex-start;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    word-wrap: break-word;

}



.chatting footer {
  width: 100%;
  padding: 0.8rem;
  height: auto;
  background: white;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  gap: 0.5rem;
  z-index:20;
}


.chatting footer textarea {
  flex: 1;
  font-size:1.3rem;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  resize: none;
  border:none;
  
}
.chatting footer textarea:hover,
.chatting footer textarea:focus {
  outline: none;
  border: none;
}



/* room in mobile */
@media (max-width: 768px) {
.chatting header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  align-items:center;
  width: 100%;
    min-height:15rem;
  background-color: var(--main-color);
  z-index: 10;
}
.chatting .left-header{
  display:flex;
  color:white;
  align-items:center;
  gap:1rem;
}
.chatting #chat-name{
font-size:1.5rem;
font-weight:500;
}

.chatting .dropdown {
    position: absolute;
    right: 1rem;
    top: 35%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index:1000;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width:5rem;
    height:3.5rem;
}
.dropdown a {
    background: none;
    border: none;
    /* padding: 10px; */
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
}
.chatting img {
  cursor:pointer;
  width: 1.8rem;
  height: 1.8rem;
}

.chatting main {
    width:100%;
    height: calc(100vh - 10rem - 3rem);
    position:fixed;
    overflow:hidden;
    z-index:10;
    margin-top:10rem;
    /* margin-bottom:1rem; */
    overflow-y: auto;
    background: #CCCBD6;
    padding: 0.7rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}
.chatting main .message-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}


.chatting main .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  object-fit: cover;
}

.chatting main .message {
  background: white;
  padding: 1rem;
  margin: 0.5rem;
  max-width: 70%;
  word-wrap: break-word;
}
.chatting .message-content {
  /* max-width: 60%; */
}

.chatting .username {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}
.chatting main .rec {
    word-wrap: break-word;
    max-width: 70%;
    justify-content:flex-start;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.chatting main .self {
    max-width: 70%;
    margin-left: auto;
    flex-direction: row-reverse;
    justify-content:flex-start;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    word-wrap: break-word;

}


.chatting footer {
  width: 100%;
  padding: 0.8rem;
  height: auto;
  background: white;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  gap: 0.5rem;
  z-index:20;
}


.chatting footer textarea {
  flex: 1;
  font-size:1.3rem;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  resize: none;
  border:none;
}
.chatting footer textarea:hover,
.chatting footer textarea:focus {
  outline: none;
  border: none;
}
}

/* profile */
.profile {
  padding-top:10rem;
    background-image: url('../assets/landing.png');
    background-size: cover;
    background-position: right 100% top  ;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}
.profile > div:first-child {
  border-radius:3rem;
  background-color: white;
  width: 40vw;
  min-width:25rem;
  height:60vh;
  min-height:35rem;
  padding:2rem;
  margin:auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);


}
.profile-pic {
    width: 35vmin;
    height: 35vmin;
    min-width:20rem;
    min-height:20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 8px solid #800080;
}
.profile p {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}
.profile .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.buttons .label-as-button,
.buttons button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
}
.label-as-button:hover{
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}
input[name="profilePicture"] {
    display: none;
}