@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'normalize.css';

body {
    font-family: 'Inter', sans-serif;
        box-sizing: border-box;

    overflow:hidden;
}
/* NavBar */
.nav-bar{
    font-weight:700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    min-height:6.5rem;
    z-index: 20;
    padding-right:2rem;
    background: linear-gradient(90deg, rgba(71, 44, 90, 0.55) 32%, rgba(195, 165, 240, 0.8) 100%);
}
.nav-bar > :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
#nav-profile{
    width:3rem;
    height:3rem;
}
#nav-logo{
    width:13rem;
    height:13rem;
    clip-path: inset(28% 30% 35% 30%);
}
.nav-bar a{
    cursor:pointer;
    font-size:1.5rem;
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    white-space: nowrap;
    justify-self:center;
    align-self:center;
    color:white;
    text-decoration: none;
}
.nav-bar #mobileDropDown {
    display:none;
}

/* NavBar mobile */
@media (max-width: 768px) {
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    min-height:5.5rem;
    z-index: 20;
    padding-right:2rem;
    background: linear-gradient(90deg, rgba(71, 44, 90, 0.55) 32%, rgba(195, 165, 240, 0.8) 100%);

}
.nav-bar > :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0;
}

#nav-profile{
    width:2rem;
    height:2rem;
}
#nav-logo{
    width:9rem;
    height:9rem;
    clip-path: inset(28% 30% 35% 30%);
}
.nav-bar a {
    display:none;
}
.nav-bar #mobileDropDown{
    width:1.5rem;
    margin-right:1rem;
    display:block;
}
.mobile-drop-down {
    position: absolute;
    left: 1rem;
    top: 15%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index:500;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width:7rem;
    height:9rem;
}
.nav-bar .mobile-drop-down li {
    text-align: center;
    width: 100%;
    color:black;
    font-size: 1rem;
    list-style:none;
    font-weight:500;
    border-bottom:1px solid black;
        padding:0.2rem;

}
.nav-bar .mobile-drop-down #last {
    border-bottom: 0px solid #ccc;
}
}

/* Landing Page */
.landing{
    background-image: url('./assets/landing.png');
    background-size: cover;
        background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-weight:800;
    color:white;
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.landing main{
    animation: slideInFromLeft 1.5s ease-out;
    animation-fill-mode: forwards;
    padding-left:3rem;
    padding-top:20vmin;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap:1rem;
    font-style:italic;
    width:90%;
    height:100%;
}
.landing main p{
    font-size:9vmin;
      line-height:1.3 ;

}
.landing button{
    border:none;
    font-size:3vmin;
    font-weight:700;
    padding:1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    background-color:white;
    color: #9759C7;
    border-radius:0.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .landing{
    background-image: url('./assets/landing.png');
    background-size: cover;
    background-position: right 65%  top  ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-weight:800;
    color:white;
    overflow: hidden;
}
.landing main {
    padding-top:9rem;
}
}

/* get started page */
.get-started #logo{
    width:45vmin;
    margin-bottom: -10vmin;

}
.get-started{
    background-size:cover;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: #7A54B7;
    color: white;
    gap: 1rem;
}
.get-started p {
    font-size: 2vmin;
}

.get-started button{
    color: black;
    background-color: white;
    border: none;
    width:40vw;
    height: 4vw;
    min-height:5vh;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 3.5vmin;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}
button:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}


/* login signup */

.common {
    overflow:hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 15rem; */
    align-items: center;
    height: 100vh;
    width:100vw;
    text-align: center;
    background: #CCCBD6;
    color: black;
    gap: 1.5rem;
}


.common h2 {
    font-weight:700;
    font-size:4vmin;
}

hr {
    width:20vw;
    border: none;
    height: 0.2rem;
    background: #8764BE;
}

form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1rem;
    width: 100vw;
    border: none;
}
form input{
    margin:auto;
    width:40vw;
    min-width:15rem;
    height:5vh;
    min-height:3rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
}

form button {
    padding: 1rem;
    background: #8764BE;
    color: white;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    width:auto;
    align-self: center;
    font-size: 1.1rem;
    font-weight: 700;
    width:10vw;
    min-width:6rem;
}




.password{
    margin:auto;
    position:relative;
    width:40vw;
    min-width:15rem;
    height:5vh;
    min-height:3rem;
}
.password input{
    width:40vw;
    min-width:15rem;
    height:5vh;
    min-height:3rem;
}
.signuppassword{
    position: absolute;
    right: 1rem;
    font-size:1.5rem;
    transform: translateY(60%);
    cursor: pointer;
    color: #888;
}
.loginpassword{
    position: absolute;
    font-size:1.5rem;
    right: 1rem;
        transform: translateY(60%);
    cursor: pointer;
    color: #888;
}



.left {
    position: absolute;
    width: 20vw;
    height: 30vh;
    left: -3vw;
    top: -7vh;
    border-radius: 50%;
    background: #7A54B7;
}

.right {
    position: absolute;
    width: 25vw;
    height: 35vh;
    right: -9vw;
    top: -7vh;
    border-radius: 50%;
    background: #8764C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(1px);
}

.bottom{
    position: absolute;
    width: 20vw;
    height: 30vh;
    left: -4vw;
    top: 75vh;
    border-radius: 50%;
    background: #7A54B7;
    }

.bottom::before {
    content:"";
    position: absolute;
    width: 7vw;
    height: 12vh;
    left: 20vw;
    top: -4vh;
    border-radius: 50%;
    background: #8666B8;
    }


@media (max-width: 768px) {
.left {
    position: absolute;
    width: 20vw;
    height: 25vh;
    left: -2vw;
    top: -7vh;
    border-radius: 50%;
    background: #7A54B7;
}

.right {
    position: absolute;
    width: 25vw;
    height: 30vh;
    right: -7vw;
    top: -7vh;
    border-radius: 50%;
    background: #8764C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(1px);
}

.bottom{
    position: absolute;
    width: 20vw;
    height: 20vh;
    left: -3vw;
    top: 85vh;
    border-radius: 50%;
    background: #7A54B7;
    }

.bottom::before {
    content:"";
    position: absolute;
    width: 7vw;
    height: 7vh;
    left: 18vw;
    top: -4vh;
    border-radius: 50%;
    background: #8666B8;
    }
}




/* error popup */
.custom-popup-error {
    border-radius: 20px;
    width:25rem;
    z-index: 10000 ;
}
.custom-cancel-button-error {
    border-radius:0.8rem;
    color:black;
    font-size:1.5rem;
}
.popup {
    z-index:10000;
    text-align: center;
    height: 25rem;
}

.icon {
    width: 20rem;
    margin-bottom: 10px;
    padding-left: 90px;
}

.title {
    margin-bottom: 10px;
    color: #333;
}

.message {
    color: #555;
}


/* success popup */
.custom-popup-success {
    border-radius: 20px;
    width:25rem;
    z-index: 10000 ;
}
.custom-confirm-button-success {
    border-radius:0.8rem;
    color:black;
    font-size:1.5rem;
}

/* question-popup in rooms (create room) */
.question-popup{
    height:200px;
    border-radius:1rem;
}



/* popup error & success in mobile*/
@media (max-width: 768px) {
    .question-popup{
    height:120px;
    }

    .title{
        font-size:1rem;
    }
    .popup {
        text-align: center;
        height: 300px;
    }
    .icon {
        width: 250px;
        margin-bottom: 10px;
        padding-left: 55px;
    }
    .custom-cancel-button-error {
        border-radius:0.8rem;
        color:black;
        font-size:1rem;
    }
    .custom-popup-error {
    width:300px;
    }
    .custom-popup-success {
        width:300px;
    }
    .custom-confirm-button-success {
        border-radius:0.8rem;
        color:black;
        font-size:1rem;
    }
}
